form {
  margin: 2rem 19rem 0rem;
  position: relative;
}
input {
  border: none;
  outline: none;
  border-radius: 1rem;
  background: linear-gradient(35deg, #494949, #313131);
  color: white;
  padding: 0.5rem 3rem;
  width: 100%;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(100%, -50%);
  color: white;
}
